#!/usr/bin/env bash

if [[ -f "$HOME/.curl/cacert.pem" ]]
then
  export CURL_CA_BUNDLE="$HOME/.curl/cacert.pem"
fi

export PATH="$HOME/.rbenv/bin:$PATH"

eval "$(rbenv init -)"

if [[ "$(uname -a)" =~ Darwin ]]
then
  alias ls="ls -hG"
else
  alias ls="ls -h --color=auto"
fi

if $(command -v "ack-grep")
then
  alias ack="ack-grep"
fi

export EDITOR="vim -f"

export NSS_DISABLE_HW_AES=1
