#!/usr/bin/env bash

if [[ -f "$HOME/.curl/cacert.pem" ]]
then
  export CURL_CA_BUNDLE="$HOME/.curl/cacert.pem"
fi

export PATH="$HOME/.rbenv/bin:$PATH"

eval "$(rbenv init -)"

if [[ "$(uname -a)" =~ Darwin ]]
then
  alias ls="ls -hG"
else
  alias ls="ls -h --color=auto"
fi

if $(command -v "ack-grep")
then
  alias ack="ack-grep"
fi

export EDITOR="vim -f"

export http_proxy="http://dmz-proxy.oracleads.com:80"
export HTTPS_PROXY="$http_proxy"
export https_proxy="$HTTPS_PROXY"
export NO_PROXY="127.0.0.1,localhost,.oracle.com,.oraclecloud.com,.vitrue.com"
export no_proxy="$NO_PROXY"
export NSS_DISABLE_HW_AES=1
