#!/usr/bin/env bash

# Path to the bash it configuration
export BASH_IT="$HOME/.bash_it"

# Lock and Load a custom theme file
# location /.bash_it/themes/
export BASH_IT_THEME='envy'

# Load Bash It
source $BASH_IT/bash_it.sh

# Don't check mail when opening terminal.
unset MAILCHECK

# Change this to your console based IRC client of choice.
export IRC_CLIENT='irssi'

# Set this to the command you use for todo.txt-cli
export TODO="t"

# Set this to false to turn off version control status checking within the prompt for all themes
export SCM_CHECK=true

if [[ -f "$HOME/.curl/cacert.pem" ]]
then
  export CURL_CA_BUNDLE="$HOME/.curl/cacert.pem"
fi

export PATH="$HOME/.rbenv/bin:$PATH"

eval "$(rbenv init -)"

if [[ "$(uname -a)" =~ Darwin ]]
then
  alias ls="ls -hG"
else
  alias ls="ls -h --color=auto"
fi

if $(command -v "ack-grep")
then
  alias ack="ack-grep"
fi

export EDITOR="vim -f"

if [[ "$(hostname --domain)" =~ oracle\.com ]] && \
  [[ -f "$HOME/dotfiles/.oracle-bashrc.ext" ]]
then
  . "$HOME/dotfiles/.oracle-bashrc.ext"
fi
