# color
set -g default-terminal "screen-256color"

# Nested tmux sessions
bind-key a send-prefix

set-option -g mouse on
set-window-option -g mode-keys vi
set-option -g history-limit 3000

bind y run-shell "tmux show-buffer | xsel -i -b && tmux show-buffer | xsel -i -p" \; display-message "Copied tmux buffer to system clipboard via X Windows"

bind C-c run-shell "tmux save-buffer - | ssh -p 1234 joelam@127.0.0.1 'DISPLAY=:0 xsel -i -b' && tmux save-buffer - | ssh -p 1234 joelam@127.0.0.1 'DISPLAY=:0 xsel -i -p'" \; display-message "Copied tmux buffer to system clipboard via ssh"
