# color
set -g default-terminal "screen-256color"

# Nested tmux sessions
bind-key a send-prefix

if-shell 'test "$(uname -s)" = "Darwin"' \
  'source ~/dotfiles/.tmux-osx \; display-message "loaded ~/dotfiles/.tmux-osx"'

if-shell 'test "$(uname -s)" = "Linux"' \
  'bind-key y run-shell "tmux save-buffer - | xsel -ib" \; display-message "Copied tmux buffer to system clipboard"'

if-shell 'test "$(uname -s)" = "Linux"' \
  'bind-key C-c run-shell "tmux show-buffer -b 0 | xsel -ib" \; display-message "Copied tmux buffer to system clipboard"'

if-shell 'test "$(uname -s)" = "Linux" && test "$(tmux -V)" != "tmux 1.6"' \
  'source ~/dotfiles/.tmux-linux \; display-message "loaded ~/dotfiles/.tmux-linux"'

set-window-option -g mode-mouse on
set-option -g mouse-select-pane on
set-option -g mouse-select-window on
set-window-option -g mode-keys vi
set-option -g history-limit 3000
