# color
set -g default-terminal "screen-256color"

# Nested tmux sessions
bind-key a send-prefix

# Copy and paste for Mac
if-shell 'test "$(uname -s)" = "Darwin"' \
  'set-option -g default-command "reattach-to-user-namespace -l $SHELL"' # or bash...
if-shell 'test "$(uname -s)" = "Darwin"' \
  'bind C-c run "tmux save-buffer - | reattach-to-user-namespace pbcopy"'
if-shell 'test "$(uname -s)" = "Darwin"' \
  'bind C-v run "reattach-to-user-namespace pbpaste | tmux load-buffer - && tmux paste-buffer"'

# Copy and paste for Linux
#
# `2>/dev/null`: don't print out the error
# if-shell 'test "$(uname -s)" = "Linux"' \
#   'bind C-c run-shell "unalias xclip 2>/dev/null; tmux show-buffer | xclip"'

# Copy from remote to Mac
# Enable only on Remote. Must disable "Copy and paste for Mac"
if-shell 'test "$(uname -s)" = "Linux"' \
  'bind C-c run-shell "tmux save-buffer - | ssh -p 1234 joelam@localhost pbcopy"'

set-window-option -g mode-mouse on
set-option -g mouse-select-pane on
set-option -g mouse-select-window on
set-window-option -g mode-keys vi
set-option -g history-limit 3000
