# Path to your oh-my-zsh configuration.
ZSH=$HOME/.oh-my-zsh

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
ZSH_THEME="simple"

# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

# Set to this to use case-sensitive completion
CASE_SENSITIVE="true"

# Comment this out to disable weekly auto-update checks
# DISABLE_AUTO_UPDATE="true"

# Uncomment following line if you want to disable colors in ls
# DISABLE_LS_COLORS="true"

# Uncomment following line if you want to disable autosetting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment following line if you want red dots to be displayed while waiting for completion
# COMPLETION_WAITING_DOTS="true"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
plugins=(git)

source $ZSH/oh-my-zsh.sh
unsetopt correct_all

# Customize to your needs...
# export PATH=/Users/joelam/.rvm/gems/ruby-1.9.2-p290@global/bin:/Users/joelam/.rvm/gems/ruby-1.9.2-p290@global/bin:/Users/joelam/.rvm/rubies/ruby-1.9.2-p290/bin:/Users/joelam/.rvm/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin:/usr/X11/bin

# So `which mysql` does not output "mysql: aliased to nocorrect mysql"
# unalias mysql
# Use `type -a mysql` instead

uname=`uname -s`
file_vim="/Applications/MacVim.app/Contents/MacOS/Vim"
# Check if this is OS X
if [[ "$uname" == 'Darwin' ]]; then
  # Link vim to latest version in MacVim
  if [[ -f "$file_vim" ]]; then
    alias vim="$file_vim"
  fi
fi

# Enter `ssh-add` in terminal to suppress prompt for passphrase
# executed for interactive shells

# Only applicable to Linux
if [[ "$uname" == "Linux" ]]; then
  if [ -f ~/.ssh-agent ]; then
    source ~/.ssh-agent
  fi

  if [ -z "$SSH_AUTH_SOCK" ] || [ ! -w "$SSH_AUTH_SOCK" ]; then
    if read -q '?Start ssh-agent? (y/n) '; then
      ssh-agent -s >~/.ssh-agent && \
        source ~/.ssh-agent && \
        ssh-add
    fi
  fi
fi

# Ubuntu only, alias ack-grep to ack
uname -v | grep -iq "ubuntu"
if [ $? -eq 0 ]; then
  alias ack="ack-grep"
fi

# Alias apachectl for Linux only
case "$uname" in
  "Linux")
    file_apachectl="/usr/sbin/apachectl"
    if [[ -f "$file_apachectl" ]]; then
      alias apachectl="$file_apachectl"
    fi
    ;;
esac
